<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>LibreriaWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>it.univr.is.services.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
      <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UtenteServlet</display-name>
    <servlet-name>UtenteServlet</servlet-name>
    <servlet-class>it.univr.is.services.UtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteServlet</servlet-name>
      <url-pattern>/UtenteServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>LibroServlet</display-name>
    <servlet-name>LibroServlet</servlet-name>
    <servlet-class>it.univr.is.services.LibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibroServlet</servlet-name>
      <url-pattern>/LibroServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>StatisticheServlet</display-name>
    <servlet-name>StatisticheServlet</servlet-name>
    <servlet-class>it.univr.is.services.StatisticheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticheServlet</servlet-name>
      <url-pattern>/StatisticheServlet</url-pattern>
  </servlet-mapping>
  
</web-app>